body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.secFooter{
  height: auto;
  width: 100%;
  background-color: whitesmoke;
  /*background-color: rgba(17, 126, 112, 0.5);*/
  padding: 5vh 0;

}
.secFooterContent{
  width: 100%;
  height: auto;  	
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.secFooterIcons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.secFooterIcons a{
  text-decoration: none !important;
  color: black;
}
.footerIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 25px;
}
.footerIcon i{
  font-size: 35px;
}

.footerIcon span{
  font-size: 10px;
}
.footerTagline{
  margin-top: 20px;
}
.hrstyle{
  border: 2px solid black;
  border-radius: 40px;
  width: 80vw;
}
.footerContact{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerMargin{
  margin: 0 10px;
}
.footerCredits{
  font-size: 10px;
}

.bgimage{
    background: url("../src/views/Images/yey.jpg") no-repeat center center fixed; 
    height: 93vh;
}

.colorwhite{
  color: white;

  
}

.bigSize{
  font-size: 90px;
  border: 2px solid whitesmoke;
}

.containerHeight{
  height: 90vh;
}

.loginImage{
  background-image: url("../src/views/Images/login.jpg"); 
  background-position: center;
  background-size: cover;
  height: 100;

}

.tunnel{
  background-image: url("../src/views/Images/tunnel.jpg"); 
  background-position: center;
  background-size: cover;
  height: 100vh;

}

.imahe{
  height: 170px !important;
  width: 100% !important;
}

.cardSize{
  width:22% !important;
  height: 370px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

/* *{
  border: 1px solid black;
} */

*{
  font-family: Palatino,serif;
}

.g{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif Geneva, sans-serif !important;
}